PORT=3000

DATABASE_URL=

DIRECT_URL=

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

VAPI_PRIVATE_KEY=
VAPI_PUBLIC_KEY=
VAPI_PHONE_NUMBER=

# Twilio WhatsApp Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=

GROQ_API_KEY=