@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
}
.nav-btn-gradient {
  background: linear-gradient(107.1deg, #6bdc9f 0%, #2ca46d 100%);
}
.call-icon-gradient {
  background: linear-gradient(135deg, #6bdc9f 0%, #2ca46d 100%);
}
